<div class="container box-form">
  <%= simple_form_for @company do |f| %>
    <%= f.input :name, placeholder: "name of company" %>
    <%= f.input :description, placeholder: "description of company" %>
    <%= f.submit "submit" , :class => "btn btn-primary custom_btn_small"%>
  <% end %>
</div>