<div class="container">
<h1>you are admin</h1>
		other admins:
		<% @dd=Detail.all %>
		<% @dd.each do |i| %>
			<% if i.admin== true && i.user_id != @user.id%>
			<%=	i.first_name+" "+i.last_name %> <br>
			<% end %>
			<% end %>

	</div>
 <div class="container">
<%= link_to "new policy type", new_poltype_path %>
<br>
</div>
<div class="container" style="border:1px solid black;">
<h3>companies</h3>
<%= link_to "view all companies",companies_path %>
<br>
<%= link_to "new company", new_company_path %>

 </div>