<% @det = current_user.detail %>
<div class="container welcomebox">
<h1>welcome</h1> <h2><%= @det.first_name%> <%= @det.last_name%> </h2>
<h3>you are admin</h3><br>
<h3> you can edit/add/delete/view all the companies,policies,plans </h3>
<h3> you can edit and delete users</h3>
<h3> you can delete posts by any user</h3>

</div>