 <div class="container info-box" >
    <p>this section deals with all the available companies.<br>
    <strong>admins</strong> can view all the available companies , add a new company and description, edit and delete company.<br>
    <strong>customers</strong> will be able to view all the companies to checkout and compare
    </p>
</div>
        