<% @det = current_user.detail %>
<div class="container welcomebox">
<h1>welcome</h1> <h2><%= @det.first_name%> <%= @det.last_name%> </h2>
<h3>you are customer</h3><br>
<h3> you can view and compare all the companies,policies,plans </h3>
<h3> you can edit your details</h3>
<h3> you can delete posts by you</h3>

</div>