<% @d=Detail.find_by_user_id(current_user) %>
<div class="container info-box" >
<% if(@d.admin==false) %>
  <p>
    <strong>my policies</strong> will display all the policies bought by you.<br>
    <strong>add new policy</strong> will let you buy a new policy from various choice of companies and plans
  </p>
<% else %>
  <p>
    <strong>view all policies</strong> will display all the policies bought by all the users.<br>
    <strong>add new policy</strong> will let you buy a new policy from various choice of companies and plans for any user
  </p>
</div>
<% end %>  
  