<div class="container info-box" >
    <p>this section deals with all the policy bought by users.<br>
    <strong>admins</strong> can view all the available policies bought by all the customers, add a new policy for any user also edit and delete policy details.<br>
    <strong>customers</strong> will be able to view all the policies bought by them and also buy new policy for themselves.
    </p>
</div>
        
        