<div class="container info-box" >
  <p>this section deals with all the policy bought by users.<br>
    <strong>customers</strong> will be able to view all the policies bought by them and also buy new policy for themselves. however editing is not possible. to edit please contact any of the admins
  </p>
</div>
  
  