<div class="container info-box" >
    <p>this section deals with all the available Plans for all the companies.<br>
    <strong>admins</strong> can view all the available plans , add a new plan for a company, edit and delete plans.<br>
    <strong>customers</strong> will be able to view all the plans to checkout and compare
    </p>
</div>
        