 <div class="container">
 <%= link_to new_post_path, remote: true do %>
      <button class="new_btn btn btn-primary custom_btn">New Post</button>

    <% end %>

  <div class="" id="post-form" style="display:none;"></div>

  <div class="container" id="posts"><%= render @posts %></div>
  </div>


 




<%= stylesheet_link_tag 'posts' %>