body{
    background:  linear-gradient(to bottom, rgba(0,0,0,0.9) 100%,rgba(255,255,255,0.9) 100%),url(umbrella.jpg)
    
}
#cover{
    text-align: center;
    margin-top: 15%;
    margin-left: 10%;
    max-width: 70%;
    color: white;
    font-family: 'Handlee', cursive;
    h1{
    font-size: 45px;
    font-weight: 800;
    }
    p{
    font-size: 30px;
    }
}
.box{
    -webkit-border-radius: 50px;
           border-radius: 50px;
    background-color: rgba( black,0.2);
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
    height: auto;
}
.box:hover{
    background-color: rgba( red,0.1);
}
#cname{
      visibility: hidden;
}

.login_form{
color: white;
margin-top: 6%;
    opacity: 1;
    height: 350px;
    font-family: 'Handlee', cursive;
}
.login_button{
  font-weight: 600;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
}
.login_button:hover{
  background-color:black;
  color: white;
}