<div class="container">
  <div class="rows">
    <% @allcompany.each do |i| %>
    <%= link_to policies_select_plan_path(:company_id => i.id) do %>
      <div class="col-md-5" style="border:1px solid black; padding-top: 2%; margin: 2%; height: 250px;" >
	   <h2><%=i.name%></h2>
	    <br>description: <%=i.description%> <br>
	   
	  </div>
	  <% end %>
<% end %>
	</div>
</div>